CONFIG_DRM_PANEL_SITRONIX_ST7701=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_VIDEO_ADV7511=m
CONFIG_SND_SOC_PM4125_SDW=m
CONFIG_SM_LPASSCC_6115=y
CONFIG_SND_USB_AUDIO=m
# Do not use TCPCI driver for ANX
CONFIG_TYPEC_TCPM=n
CONFIG_SND=y
CONFIG_SND_USB_AUDIO=m
CONFIG_UHID=y
CONFIG_INPUT_UINPUT=y
CONFIG_INPUT_JOYDEV=m
CONFIG_BT_LE=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_BNEP=m
CONFIG_HIDRAW=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_DRM_DISPLAY_DP_AUX_CEC=y
CONFIG_UDMABUF=y
CONFIG_EXFAT_FS=y
CONFIG_BT_RFCOMM=m
CONFIG_ECRYPT_FS=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_ZRAM=y
CONFIG_ZRAM_BACKEND_LZ4=y
CONFIG_ZSWAP=y

# many GStreamer plugins in the Qualcomm IMSDK use DMABUF userspace heaps
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_CMA_SIZE_MBYTES=256

# panel
CONFIG_GPIO_WAVESHARE_DSI_TOUCH=m
CONFIG_REGULATOR_WAVESHARE_TOUCHSCREEN=m
CONFIG_DRM_PANEL_JADARD_JD9365DA_H3=m
CONFIG_DRM_PANEL_HIMAX_HX8394=m

# container
CONFIG_NF_NAT=m
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NF_TABLES_NETDEV=y
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_IPV6=y
CONFIG_NF_TABLES_BRIDGE=m
CONFIG_NF_TABLES_ARP=y
CONFIG_NETFILTER_XTABLES_LEGACY=y
CONFIG_IP_NF_NAT=m
CONFIG_IP_NF_RAW=m
CONFIG_IP6_NF_NAT=m
CONFIG_IP6_NF_RAW=m
